# hasura metadata autofix logs
hasura-replace-payload-*.json
hasura-replace-response-*.txt
# Ignore build outputs
graphql-api-app/bin/
rest-api-app/bin/

# Ignore logs
**/*.log

# Ignore temporary files
**/*.tmp
**/*.temp
**/*.pid
**/*.seed
**/*.pid.lock

# Ignore Visual Studio Code settings
.vscode/

# Ignore compiled DLLs
**/*.dll
**/*.exe
**/*.so
**/*.dylib
**/*.class

# Ignore coverage reports
**/coverage/
**/*.lcov

# Ignore other files
*.DS_Store
.fake